<footer class="bg-white py-4 mt-auto">
	<div class="container px-5">
		<div
			class="row align-items-center justify-content-between flex-column flex-sm-row"
		>
			<div class="col-auto">
				<div class="small m-0">copyright &copy; eliazoura.fr</div>
			</div>
			<div class="col-auto">
				<a class="small" href="#!">RGPD</a>
				<span class="mx-1">&middot;</span>
				<a class="small" href="#!"> </a>
				<span class="mx-1">&middot;</span>
				<a class="small" href="contact.html">Contact</a>
			</div>
		</div>
	</div>
</footer>
<!-- <script src="/js/transition.js"></script> -->
