/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
} */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
