<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
		<li class="nav-item">
			<a class="nav-link" href="cv">CV</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="projets">Projets</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="contact">Contact</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="blogs">All Blogs</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="all-post">ALL posts</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="one-post">ONE post</a>
		</li>

		<!--<li class="nav-item">
			<a class="nav-link" href="blog-single">Add auto +-> Blog</a>
		</li>-->
		<li class="nav-item">
			<a class="nav-link" href="publier">Publier</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="connect">Connexion</a>
		</li>
	</ul>
</div>
