<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
	<div class="container px-5">
		<a class="navbar-brand" href="/"
			><span class="fw-bolder text-primary">
				<img
					class="elilogo"
					src="img/favicon/favicon.ico"
					alt="" /></span
		></a>
		<!-- <p> ICI ANCIENNEMENT DATE LISIBLE /p> -->
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- <p> ICI INSERER NABAR > -->

	</div>
</nav>
